{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Poll Questions</h2>
    <br>
    <!-- <div class="d-flex justify-content-center"> -->
    
    {% if polls %}
        {% for poll in polls %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title mb-4">{{ poll.question_text }}</h5>
                        <a href="{% url 'poll' poll.id %}" class="btn btn-primary">Vote Now</a>
                        <a href="{% url 'polls' %}" class="btn btn-secondary">Results</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
    <!-- </div> -->
</div>

{% endblock %}